<!-- wp:template-part {"slug":"header-landing-page"} /-->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:spacer {"height":"80px"} -->
<div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:image {"align":"left","id":28,"width":"642px","height":"auto","sizeSlug":"large","linkDestination":"custom"} -->
<figure class="wp-block-image alignleft size-large is-resized"><a href="https://www.youtube.com/watch?v=wNITqdoituY"><img src="https://purefrostyzz.files.wordpress.com/2023/10/it-is-coming-5.png?w=305" alt="" class="wp-image-28" style="width:642px;height:auto" /></a></figure>
<!-- /wp:image -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"100%"} -->
<div class="wp-block-column" style="flex-basis:100%"><!-- wp:gallery {"linkTo":"none"} -->
<figure class="wp-block-gallery has-nested-images columns-default is-cropped"><!-- wp:image {"align":"center","id":27,"sizeSlug":"large","linkDestination":"custom","style":{"color":[]}} -->
<figure class="wp-block-image aligncenter size-large"><a href="https://www.youtube.com/watch?v=eFTOr_u_ZDk&amp;t=106s"><img src="https://purefrostyzz.files.wordpress.com/2023/10/tomato-facts-1.png?w=302" alt="" class="wp-image-27" /></a></figure>
<!-- /wp:image --></figure>
<!-- /wp:gallery --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:separator {"align":"full","backgroundColor":"secondary","className":"is-style-wide"} -->
<hr class="wp-block-separator alignfull has-text-color has-secondary-color has-alpha-channel-opacity has-secondary-background-color has-background is-style-wide" />
<!-- /wp:separator -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->